/******************* FONT COLORS *********************
Tropical Indigo #7E78D2 
Zomp(green) #539987 
Cream #EDF7B5
*/


/*************************** HEADER ***************************/
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    border: solid 1px #ddd;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 1.2rem;
    color: #7E78D2;
}

/************************* HAMBURGER *************************/
.hamburger {
    background: none;
    border: none;
    color: #7E78D2;
    cursor: pointer;
    font-family: Verdana;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
}

/************************* NAVIGATION *************************/

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: #7E78D2;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}

.navigation li.current {
    background-color: #eee;
}

.navigation a:hover {
    background-color: #EDF7B5;
}

h1 {
    margin-left: 10px;
}

/************************* MEMBERS *************************/
h2 {
    margin: 1rem 0;
    color: #7E78D2;
}

section {
    background: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

main {
    margin: 0 auto;
    padding: 0.5rem;
    max-width: 700px;
    background-color: #fff;
    font-family: Acme, Arial, sans-serif;
}

.menu {
    margin: 1rem auto;
    padding: 0.5rem;
    background-color: #539987;
    text-align: center;

    button {
        padding: 0.5rem 1rem;
        font-weight: 700;
        background-color: #EDF7B5;
    }
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-gap: 5px;
    align-items: center;

    section {
        text-align: center;

        &>* {
            margin: 0.1rem;
        }
    }

    img {
        border: 1px solid #fff;
        box-shadow: 0 0 1rem #555;
    }
}


.list {
    display: flex;
    flex-direction: column;

    section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: 0;
        padding: 0.25rem; */

        &>* {
            margin: 0 1rem;
        }

        img {
            display: none;
        }

        h3 {
            font-size: 1rem;
        }

    }
}

img {
    width: auto;
    height: 75px;
}

/************************** FOOTER **************************/

footer {
    background-color: #eee;
    padding: 1rem 10px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #ccc solid 1px;
    border-radius: 4px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: #ddd;
}