@media only screen and (max-width: 22rem) {

    header,
    main,
    nav,
    footer {
        max-width: 320px;
        margin: 0 auto;
        min-width: 200px;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(1, minmax(200px, 1fr));
    }


    footer {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 40rem) {

    .grid {
        display: grid;
        grid-template-columns: repeat(1, minmax(200px, 1fr));
    }

}

@media only screen and (max-width: 25rem) {

    .list {
        display: flex;
    }

}