@media only screen and (max-width: 22rem) {

    header,
    main,
    nav,
    footer {
        max-width: 320px;
        margin: 0 auto;
        min-width: 200px;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(1, minmax(200px, 1fr));
    }


    footer {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 40rem) {

    .grid {
        display: grid;
        grid-template-columns: repeat(1, minmax(200px, 1fr));
    }

}

@media only screen and (max-width: 25rem) {

    .list {
        display: flex;
    }

}

#allPlaces div {
    margin: 1rem 8px;
    border: 1px solid #999;
    background-color: #eee;
    border-radius: 8px;
    overflow: hidden;

    display: grid;
    grid-template-areas: 
    "name"
    "photo"
    "description"
    "location"
    "button";

}

#allPlaces div h2 {
    margin: 1rem 10px;
    grid-area: name;
    color: black;
}

#allPlaces div img {
    width: 100%;
    grid-area: photo;
}

#allPlaces div p {
    margin: 1rem 10px;
    grid-area: description;
}

#allPlaces div address {
    margin: 10px;
    grid-area: location;
}

#allPlaces div button {
    margin: 1rem 10px;
    background-color: #EDF7B5;
    border-radius: 8px;
}