@media only screen and (max-width: 19rem) {
    .me {
        display: grid;
        grid-template-columns: 1fr;
    }

    header,
    main,
    nav,
    footer {
        max-width: 320px;
        margin: 0 auto;
    }
   
    #activity div img {
        width: 200px;
        height: 200px;
        grid-area: photo;
    }

}

/*
****************** FONT COLORS *********************
Payne's gray(teal) #19647E
Verdigris(turquoise) #28AFB0
Timber(medium pink) #DDCECD
Isabeline(light pink) #EEE5E5
*/

