/******************* FONT COLORS *********************
Tropical Indigo #7E78D2 
Zomp(green) #539987 
Cream #EDF7B5
*/


/*************************** HEADER ***************************/
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    border: solid 1px #ddd;
    column-gap: 8px;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px; 
}

header span {
    font-size: 1.2rem;
    color: #7E78D2;
}

/************************* HAMBURGER *************************/
.hamburger {
    background: none;
    border: none;
    color: #7E78D2;
    cursor: pointer;
    font-family: Verdana;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
}

/************************* NAVIGATION *************************/
.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: #539987;
    text-decoration: none;
    border-bottom: solid 1px #ddd;
}

.navigation li.current {
    background-color: #eee;
}

.navigation a:hover {
    background-color: #EADAA2;
}


h1 {
    margin-left: 10px;
}

/************************* ABOUT ME *************************/

.me {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-left: 10px;
    column-gap: 8px;
}

h2 {
    display: flex;
    justify-content: center;
    background-color: #539987;
}

.me img {

    height: 200px;
}

/************************** COURSES *************************/

.courses {

}

.courses ul{
    background-color: #539987;

}


/************************** FOOTER **************************/

footer {
    background-color: #eee;
    padding: 1rem 10px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #ccc solid 1px;
    border-radius: 4px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: #ddd;
}